<a href="https://colab.research.google.com/github/yanaakuz/project/blob/main/lessons1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**<font color="red">ВАЖНО! Работайте с копией данного блокнота!</font>**

Онлайн-сообщество специалистов по машинному обучению публикует датасеты на площадке для образования в области искусственного интеллекта Kaggle.

Для этого урока мы скачали датасет о вышедших фильмах.

## Импорт библиотек

In [ ]:
# Импортируем библиотеку для обработки и анализа данных pandas
import pandas as pd
# Импортируем модуль files из библиотеки google.colab для загрузки собственных файлов с локального диска
from google.colab import files

## Получение и обзор данных

In [ ]:
# Склонируем репозиторий GitHub с нужными файлами
!git clone https://github.com/irinaAvdeeva/dataset

Cloning into 'dataset'...
remote: Enumerating objects: 19, done.
remote: Counting objects: 100% (19/19), done.
remote: Compressing objects: 100% (18/18), done.
remote: Total 19 (delta 4), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (19/19), 3.48 MiB | 9.45 MiB/s, done.
Resolving deltas: 100% (4/4), done.

In [ ]:
# или загрузите свой файл, раскомментировав строчку ниже
# files.upload()

In [ ]:
# Считаем csv-файл и сохраним его в переменную df
df = pd.read_csv('dataset/m_dataset.csv')

In [ ]:
# Посмотрим на первые пять строк датафрейма
df.head()

,id,type,title,director,country,release_year,rating,duration,listed_in
0,0,Movie,Puppy Star Christmas,Robert Vince,United States,2018,PG,91 min,"Children & Family Movies, Comedies"
1,1,TV Show,Age of Tanks,Not Given,Germany,2017,TV-PG,1 Season,"Docuseries, International TV Shows, Science & ..."
2,2,TV Show,Pokémon Journeys: The Series,Not Given,Pakistan,2021,TV-Y7,4 Seasons,"Anime Series, Kids' TV, TV Action & Adventure"
3,3,Movie,Patiala House,Nikhil Advani,India,2011,TV-PG,140 min,"Dramas, International Movies, Sports Movies"
4,4,TV Show,Alien TV,Not Given,Pakistan,2021,TV-Y7,2 Seasons,"Kids' TV, TV Comedies"

In [ ]:
# Найдите метод библиотеки pandas, с помощью которого можно посмотреть последние 7 строк датафрейма

Заполните **описание данных**:

 * `id` - идентификатор
 * `type` - ...
 * ...

In [ ]:
# Получим общую информацию
df.info()

In [ ]:
# Посмотрите названия колонок. Стиль названий соответствует snake_case?
print('Yes/No')

In [ ]:
# Названия колонок можно сохранить в отдельную переменную с помощью атрибута columns
df_columns = df.columns
df_columns

In [ ]:
# Найдите в выводе количество строк и столбцов в таблице. Сохраните размеры исходного датафрейма в отдельные переменные с помощью атрибута shape

In [ ]:
# Выведите на экран количество строк и столбцов

In [ ]:
# Посмотрите на типы колонок. Все ли из них считались правильно?
print('Yes/No')

In [ ]:
# Если в данных пропуски?
print('Yes/No')
# Если да, то в каких столбцах?
print('id', 'type', 'title', 'director', 'country', 'release_year', 'rating', 'duration', 'listed_in')

## Основные действия с датафреймом

### Индексация

Датафрейм (DataFrame) — это двумерная структура данных pandas, где у каждого элемента — две координаты, строка и столбец. Обычно к строкам обращаются по их порядковому номеру, а к столбцам — по названиям.

In [ ]:
# одна ячейка
df.loc[4, 'title']

In [ ]:
# один столбец
df['title']

In [ ]:
# несколько столбцов
df[['title', 'country']]

In [ ]:
# несколько столбцов подряд
df.loc[:, 'title': 'country']

In [ ]:
# одна строка
df.loc[3]

In [ ]:
# несколько строк подряд
df[1:3]

### Удаление

In [ ]:
# удаление колонки id
df = df.drop(['id'], axis=1)
# запустите ячейку с просмотром таблицы, чтобы проверить результат

In [ ]:
# удаление строки 1
df = df.drop([1], axis=0)
# запустите ячейку с просмотром таблицы, чтобы проверить результат

### Добавление/обновление

In [ ]:
# добавление нового столбца
df.loc[:, "new_column"] = 0
# запустите ячейку с просмотром таблицы, чтобы проверить результат

In [ ]:
# обновим значения в колонке new_column
df.loc[:, "new_column"] = df['duration'].str.split()
# запустите ячейку с просмотром таблицы, чтобы проверить результат

In [ ]:
# добавление новой строки
df.loc[2264] = 0
# запустите ячейку с просмотром таблицы, чтобы проверить результат

In [ ]:
# обновление информации в ячейке
df.loc[2264, 'title'] = 'Pandas'
# запустите ячейку с просмотром таблицы, чтобы проверить результат

## Фильтрация данных

In [ ]:
# выберем все сериалы
df.query('type == "TV Show"')

In [ ]:
# выберем все сериалы, выпущенные в Германии
df.query('type == "TV Show" and country == "Germany"')

In [ ]:
# выберем все сериалы, выпущенные в Германии или Австралии
df.query('type == "TV Show" and country in ["Germany", "Australia"]')

In [ ]:
# выберем все сериалы, выпущенные в Германии или Австралии, но не в 2021 году
df.query('type == "TV Show" and country in ["Germany", "Australia"] and release_year != 2021')

In [ ]:
# сохранить отфильтрованные данные можно так
df_germany = df.query('country == "Germany"')

In [ ]:
df_germany.head(7)

## Предобработка данных

**Предобработка данных - это подготовка данных для анализа или обучения моделей.** Предобработка следует принципу GIGO (от англ. garbage in — garbage out, буквально **«мусор на входе — мусор на выходе»**). Это значит, что при ошибках во входных данных даже правильный алгоритм работы приведет к неверным результатам.

Самые частые проблемы в данных:

1.   **Дубликаты** - записи в датасете, в которых все данные одинаковые. Дубликаты приводят к избыточности, увеличивают объем выборки, при этом не повышая информативность данных.
2.   **Пропуски** - пропущенные значения. В данных часто бывают пропуски из-за неправильного ввода или сокрытия информации. Самый простой способ избавиться от пропусков в данных — просто удалить строки, в которых есть пропущенные значения.
3.   **Мусор** - некорректная или недостоверная информация в данных.

## <font color='red'>Задание для самостоятельной работы</font>

**Сделайте предобработку данных (m_dataset.csv) и ответьте на вопросы:**

1.   Сколько всего фильмов в датасете?
2.   Сколько фильмов вышло в 2010 году?
3.   Найдите название самого короткого фильма?
4.   Сколько всего стран, выпускающих фильмы, представлено в датасете?
5.   Какая страна стоит на 2 месте по выпуску фильмов жанра “Children & Family Movies”?